<div class="container">

  <div class="card">
    <div class="table-header">
      <h3>Registro de control de temperatura y humedad
      </h3>
      <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" (click)="refreshData();"></p-button>
    </div>
    <p-table [value]="tableData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      [tableStyle]="{'min-width': '20rem'}"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} filas" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate=" header">
        <tr>
          <th pSortableColumn="code" style="width:20%">idDispositivo <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="name" style="width:20%">temperatura <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="category" style="width:20%">humedad <p-sortIcon field="category"></p-sortIcon>
          </th>
          <th pSortableColumn="quantity" style="width:20%">fecha <p-sortIcon field="quantity"></p-sortIcon>
          </th>
          <th pSortableColumn="price" style="width:20%">hora <p-sortIcon field="price"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.idDispositivo}}</td>
          <td>{{product.temperatura}}</td>
          <td>{{product.humedad}}</td>
          <td>{{product.fecha}}</td>
          <td>{{product.hora }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="card">
    <h4>Grafica de valores con intervalos entre 2-5m</h4>
    <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
  </div>

</div>