.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card {
    width: 80%;
    margin: 20px 0px;

    .table-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
}
